@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.cta{
    display: inline-block;
    padding: 8px 25px;
    color: black;
    background-color: transparent;
    border: 2px solid crimson;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 60px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 15px;
    transition: .3s ease background-color;
    margin-bottom: 20px;
    text-decoration: none;


}

.cta:hover{
    background-color: crimson;
    color: white;
}

.contact{
    position: relative;
    min-height: 75vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(51, 51, 122);
    background-size: cover;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.contact .content p{
    font-weight: 300;
    color: white;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-height: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 10px solid white;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 40px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight:300 ;
}

.container .contactInfo .box .text h3{
    font-weight: 500;
    color: #00bcd4;

}

.contactForm{
    width: 40%;
    padding: 40px;
    background: white;
    border-radius: 2rem;
}

.contactForm h2{
    font-size: 30px;
    color:#333 ;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;

}

.contactForm .inputBox input,.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding:5px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color:#666 ;
    
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: red;
    font-size: 12px;
    transform: translate(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactForm .inputBox input[type="submit"]:hover{
    
    background: black;
    color: white;
    
}







@media screen and (max-width: 990px){




    .contact{
        padding: 50px;
        min-height: 70vh;
    }

   
    .contact .content h2{
        font-size: 5rem;
    }

    .contact .content p{
        font-size: 25PX;
        font-weight: 800;
        letter-spacing: 2px;
        color: white;
    }

    .container{
        flex-direction:column;
    }

    .container .contactInfo{
        margin-bottom: 40px;
    }
    
    .container .contactInfo,.contactForm{
        width: 100%;
    }

    

    .box{
        width:100%;
        height: 20rem;
        margin-left: 0rem;
    }

    .container .contactInfo .box .text{
        display: flex;
        margin-left: 40px;
        font-size: 3rem;
        color: white;
        flex-direction: column;
        font-weight:300 ;
    }

    .contactForm{
        width: 100%;
        padding: 30px;
        background: white;
    }
    
    .contactForm h2{
        font-size: 60px;
        color:#333 ;
        font-weight: 800;
    }
    
    .contactForm .inputBox{
        position: relative;
        width: 100%;
        margin-top: 10px;
    
    }

    .contactForm .inputBox input,.contactForm .inputBox textarea{
        width: 100%;
        padding: 0px 0;
        font-size: 26px;
        margin: 10px 0;
        border: none;
        border-bottom: 2px solid black;
        outline: none;
        resize: none;
    
    }

    .contactForm .inputBox span{
        position: absolute;
        left: 0;
        padding:0px 0;
        font-size: 26px;
        pointer-events: none;
        transition: 0.5s;
        color:black ;
        
    }

    .cta{
        display: inline-block;
        padding: 10px 20px;
        color: black;
        background-color: transparent;
        border: 8px solid crimson;
        border-radius: 5px;
        font-size: 3rem;
        font-weight: 80px;
        text-transform: uppercase;
        letter-spacing: .1rem;
        margin-top: 15px;
        transition: .3s ease background-color;
        margin-bottom: 20px;
        text-decoration: none;
    
    
    }
    



}
